<% provide(:title, "HOME") %>
<div class="container">
  <div class="container discription-container">
    <% if logged_in? %>
      <div class="container_columns">
        <div class="row">

          <%# <div class="container_body col-md-8">
              <%= render 'shared/feed' %>

          <aside class="container_sub col-md-4">
            <div class="user_info pc_only">
              <%= render 'shared/user_info' %>
            </div>
            <div class="stats pc_only">
              <%= render 'shared/stats' %>
            </div>
            <div class="micropost_form pc_only">
              <%= render 'shared/micropost_form' %>
            </div>
          </aside>
        </div>
      </div>
    <% else %>
      <div class="col-md-8">
        <%= render @microposts %>
      </div>
    <% end %>
  </div>
</div>
