<% provide(:title, "HOME") %>
<div class="jumbtron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1>kodawarimedia</h1>
    <p></p>
  </div>
</div>

<div class="container">
  <div class="container discription-container">
    <% if logged_in? %>
      <div class="row">
        <div class="col-md-8">
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </div>
        <aside class="col-md-4">
          <section class="user_info pc_only">
            <%= render 'shared/user_info' %>
          </section>
        </aside>
        <aside class="col-md-4">
          <section class="stats pc_only">
            <%= render 'shared/stats' %>
          </section>
        </aside>
        <aside class="col-md-4">
          <section class="micropost_form pc_only">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
      </div>
    <% else %>
      <div class="col-md-8">
        <%= @microposts.each do |micropost| %>
          <%= render 'microposts/micropost' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
