<li id="micropost-<%= micropost.id %>">
</li>

<div class="card"> <%#  style="width: 18rem;" %>
  <% if micropost.picture.attached? %>
    <img class="card-img-top" src="<%= micropost.resize_picture %>">
  <% end %>
  <div class="card-body">
    <h5 class="card-title">sample title</h5>
    <p class="micropost-user"><%= link_to micropost.user.name, micropost.user %></p>
    <p class="micropost-content"><%= micropost.content %></p>
    <p class="micropost-timestamp">
      <%= time_ago_in_words(micropost.created_at) %>
    </p>
  </div>
</div>
