<li id="micropost-<%= micropost.id %>">
  <span class="micropost-list">
    <span class="micropost-user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="micropost-content"><%= micropost.content %></span>
    <% if micropost.picture.attached? %>
      <div class="micropost-picture">
        <%= image_tag micropost.resize_picture %>
      </div>
    <% end %>
    <span class="micropost-timestamp">
      <%= time_ago_in_words(micropost.created_at) %>
    </span>
  </span>
</li>
