<header>
  <div class="logo-container">
    <li><%= link_to "kodawarimedia", root_url %></li>
  </div>

  <div class="side-header-dropdown">
    <div class="side-header__box__menu" id="dropdownMenuButton button-group">
      <%= icon 'fas', 'fa-user-cog' %>
    </div>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <% if logged_in? %>
        <%= link_to "プロフィール", user_path(current_user) %>
        <%= link_to "プロフフィール編集", edit_user_path(current_user) %>
        <div class="dropdown-divider"></div>
        <%= link_to "ログアウト", logout_path, method: :delete %>
      <% else %>
        <%= link_to "新しくはじめる", signup_path %>
        <%= link_to "ログイン", login_path %>
      <% end %>
    </div>
  </div>

  <div class="nav-container">
    <div class="nav">
      <ul>
        <li><%= link_to "kodawarimedia", root_url %></li>
        <% if logged_in? %>
          <li><%= link_to "プロフィール", user_path(current_user) %></li>
          <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新しくはじめる", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

</header>
