<h1 class="micropost-title col-2">posts</h1>
<% if @user.microposts.any? %>
  <div class="container">
    <ol class="microposts">
      <%= @microposts.each do |micropost| %>
        <li id="micropost-<%= micropost.id %>">
          <span class="micropost-list">
            <span class="micropost-user"><%= link_to micropost.user.name, micropost.user %></span>
            <span class="micropost-content"><%= micropost.content %></span>
            <span class="micropost-timestamp">
              <%= time_ago_in_words(micropost.created_at) %>
            </span>
          </span>
        </li>
      <% end %>
    </ol>
  </div>
  <%= paginate @microposts %>
<% else %>
  <span>まだ投稿がありません</span>
<% end %>
