<% if @microposts.length == 0 %>
  <div class="card_post">まだ投稿がありません</div>
<% else %>
  <% @microposts.each do |micropost| %>
    <% user = User.find(micropost.user_id) %>
    <div class="card_post">
      <div class="navUserLogo">
        <%= link_to user_path(id: user.id), method: :get do %>
          <%= image_tag User.find(micropost.user_id).image.url, alt: 'ユーザーのアイコン', class: 'image_user' %>
        <% end %>
        <span class="User_name_nav">
          <%= link_to user_path(id: user.id), method: :get do %>
            <%= User.find(micropost.user_id).name %>
          <% end %>
        </span>
      </div>
      <p class="Micropost_content_nav">
        <%= link_to micropost_path(id: micropost.id), method: :get do %>
          <%= micropost.content %>
        <% end %>
      </p>
      <% unless micropost.image.url == '/images/default.png' %>
        <div class="image_micropost">
          <%= link_to micropost_path(id: micropost.id), method: :get do %>
            <%= image_tag micropost.image.url, alt: '投稿に関する写真', class: '' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
